In [1]:
import pandas as pd
import re
import scipy.stats as st

In [2]:
df_jjj = pd.read_csv("../Resource/jjj_data.csv", sep='\t')

# to add position of the year
df_jjj["position of year"] = 0
current_year = 0
current_pos = 1
for index, row in df_jjj.iterrows():
    if current_year != row["year"]:
        current_year = row["year"]
        current_pos = 1
    else:
        current_pos = current_pos + 1
    df_jjj.at[index, "position of year"] = current_pos

df_jjj = df_jjj.reset_index()

df_jjj_rename = df_jjj.copy()

# define how many letters to match
search_len = 6

# use regex to leave all letters only
regex = re.compile('[^a-zA-Z]')

df_jjj_rename["title"] = df_jjj_rename.apply(lambda x: regex.sub("", x.title), axis=1)
df_jjj_rename["title"] = df_jjj_rename["title"].str.upper()

df_jjj_rename["artist"] = df_jjj_rename.apply(lambda x: regex.sub("", x.artist), axis=1)
df_jjj_rename["artist"] = df_jjj_rename["artist"].str.upper()

# get the left {search_len} chars, for less than {search_len}, pad some '.' at right
df_jjj_rename["artist_s"] = df_jjj_rename["artist"].str[:search_len].str.pad(search_len, side="right", fillchar=".")
df_jjj_rename["title_s"] = df_jjj_rename["title"].str[:search_len].str.pad(search_len, side="right", fillchar=".")

df_jjj_rename


#df_jjj_rename.groupby(["year"]).count()

,index,year,title,artist,duration,country,position of year,artist_s,title_s
0,0,1993,ASSHOLE,DENISLEARY,4:26,USA,1,DENISL,ASSHOL
1,1,1993,CREEP,RADIOHEAD,3:56,England,2,RADIOH,CREEP.
2,2,1993,LINGER,THECRANBERRIES,4:35,Ireland,3,THECRA,LINGER
3,3,1993,NORAIN,BLINDMELON,3:37,USA,4,BLINDM,NORAIN
4,4,1993,CANNONBALL,THEBREEDERS,3:34,USA,5,THEBRE,CANNON
...,...,...,...,...,...,...,...,...,...
2496,2496,2017,CHASIN,CUBSPORT,3:11,Australia,96,CUBSPO,CHASIN
2497,2497,2017,LOYALTYFEATRIHANNA,KENDRICKLAMAR,3:47,USA,97,KENDRI,LOYALT
2498,2498,2017,SNOW,ANGUSJULIASTONE,4:12,Australia,98,ANGUSJ,SNOW..
2499,2499,2017,ARTYBOYFEATEMMALOUISE,FLIGHTFACILITIES,3:52,Australia,99,FLIGHT,ARTYBO
2500,2500,2017,DONTLEAVE,SNAKEHIPSM,3:35,England,100,SNAKEH,DONTLE

In [3]:
df_spotify = pd.read_csv("../Resource/spotify_data.csv")
df_spotify = df_spotify.reset_index()
df_spotify.head()

,index,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0,0.0594,1921,0.982,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,1,0.9630,1921,0.732,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,2,0.0394,1921,0.961,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,3,0.1650,1921,0.967,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,4,0.2530,1921,0.957,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

In [4]:
# do the samething as df_jjj_rename
df_spotify_rename = df_spotify.copy()

err_index = []

# df_spotify_rename["name"] = df_spotify_rename.apply(lambda x: regex.sub("", x.name), axis=1)
# use above line with trigger exception, have no idea why 

for index, row in df_spotify_rename.iterrows():
    try:
        df_spotify_rename.at[index, "name"] = regex.sub("", df_spotify_rename.at[index, "name"])
    except:
        err_index.append(index)

df_spotify_rename["name"] = df_spotify_rename["name"].str.upper()

df_spotify_rename["artists"] = df_spotify_rename.apply(lambda x: regex.sub("", x.artists), axis=1)
df_spotify_rename["artists"] = df_spotify_rename["artists"].str.upper()

df_spotify_rename["name_s"] = df_spotify_rename["name"].str[:search_len].str.pad(search_len, side="right", fillchar=".")
df_spotify_rename["artists_s"] = df_spotify_rename["artists"].str[:search_len].str.pad(search_len, side="right", fillchar=".")

In [5]:
df_spotify_rename

,index,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,...,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,name_s,artists_s
0,0,0.0594,1921,0.98200,SERGEIRACHMANINOFFJAMESLEVINEBERLINERPHILHARMO...,0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,...,0.6650,-20.096,1,PIANOCONCERTONOINDMINOROPIIIFINALEALLABREVE,4,1921,0.0366,80.954,PIANOC,SERGEI
1,1,0.9630,1921,0.73200,DENNISDAY,0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,...,0.1600,-12.441,1,CLANCYLOWEREDTHEBOOM,5,1921,0.4150,60.936,CLANCY,DENNIS
2,2,0.0394,1921,0.96100,KHPKRIDHAMARDAWAKARATONNGAYOGYAKARTAHADININGRAT,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,...,0.1010,-14.850,1,GATIBALI,5,1921,0.0339,110.339,GATIBA,KHPKRI
3,3,0.1650,1921,0.96700,FRANKPARKER,0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,...,0.3810,-9.316,1,DANNYBOY,3,1921,0.0354,100.109,DANNYB,FRANKP
4,4,0.2530,1921,0.95700,PHILREGAN,0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,...,0.2290,-10.096,1,WHENIRISHEYESARESMILING,2,1921,0.0380,101.665,WHENIR,PHILRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170648,170648,0.6080,2020,0.08460,ANUELAADADDYYANKEEKAROLGOZUNAJBALVIN,0.786,301714,0.808,0,0KkIkfsLEJbrcIhYsCL7L5,...,0.0822,-3.702,1,CHINA,72,2020-05-29,0.0881,105.029,CHINA.,ANUELA
170649,170649,0.7340,2020,0.20600,ASHNIKKO,0.717,150654,0.753,0,0OStKKAuXlxA0fMH54Qs6E,...,0.1010,-6.020,1,HALLOWEENIEIIISEVENDAYS,68,2020-10-23,0.0605,137.936,HALLOW,ASHNIK
170650,170650,0.6370,2020,0.10100,MAMAMOO,0.634,211280,0.858,0,4BZXVFYCb76Q0Klojq4piV,...,0.2580,-2.226,0,AYA,76,2020-11-03,0.0809,91.688,AYA...,MAMAMO
170651,170651,0.1950,2020,0.00998,EMINEM,0.671,337147,0.623,1,5SiZJoLXp3WOl3J4C8IK0d,...,0.6430,-7.161,1,DARKNESS,70,2020-01-17,0.3080,75.055,DARKNE,EMINEM
170652,170652,0.6420,2020,0.13200,KEVVOJBALVIN,0.856,189507,0.721,1,7HmnJHfs0BkFzX4x8j0hkl,...,0.1820,-4.928,1,BILLETESAZULESWITHJBALVIN,74,2020-10-16,0.1080,94.991,BILLET,KEVVOJ

In [6]:
# merge by ["title_4","artist_4"] and ["name_4", "artists_4"]
df_title_artist = df_jjj_rename.merge(df_spotify_rename, left_on=["title_s","artist_s"], right_on=["name_s", "artists_s"], how="inner")

# merge by "title_4" only
df_title_only = df_jjj_rename.merge(df_spotify_rename, left_on=["title_s"], right_on=["name_s"], how="inner")

# choose one of the above for later processing
index_df_good = df_title_artist[["index_x","index_y", "year_x","year_y", "title", "name", "title_s", "name_s", "artist", "artists", "artist_s", "artists_s"]]
# index_df_good = df_title_artist[["index_x","index_y", "year_x","year_y", "title", "name", "title_4", "name_4", "artist", "artists"]]

# filter by year compare (results less than merge by ["title_4","artist_4"] and ["name_4", "artists_4"])
# df_title_artist_year = df_title_artist.loc[(df_title_artist["year_x"] >= df_title_artist["year_y"]) & (df_title_artist["year_x"] - df_title_artist["year_y"] <=10)]
# index_df_good = df_title_artist_year[["index_x","index_y", "year_x","year_y", "title", "name", "title_4", "name_4", "artist", "artists"]]

#index_df_good
index_df_good

,index_x,index_y,year_x,year_y,title,name,title_s,name_s,artist,artists,artist_s,artists_s
0,0,51827,1993,1993,ASSHOLE,ASSHOLE,ASSHOL,ASSHOL,DENISLEARY,DENISLEARY,DENISL,DENISL
1,1,14206,1993,1993,CREEP,CREEP,CREEP.,CREEP.,RADIOHEAD,RADIOHEAD,RADIOH,RADIOH
2,1,103206,1993,1992,CREEP,CREEP,CREEP.,CREEP.,RADIOHEAD,RADIOHEAD,RADIOH,RADIOH
3,2,14213,1993,1993,LINGER,LINGER,LINGER,LINGER,THECRANBERRIES,THECRANBERRIES,THECRA,THECRA
4,2,121243,1993,2002,LINGER,LINGER,LINGER,LINGER,THECRANBERRIES,THECRANBERRIES,THECRA,THECRA
...,...,...,...,...,...,...,...,...,...,...,...,...
1406,2495,19078,2017,2017,MASKOFF,MASKOFF,MASKOF,MASKOF,FUTURE,FUTURE,FUTURE,FUTURE
1407,2495,91745,2017,2017,MASKOFF,MASKOFFFEATKENDRICKLAMARREMIX,MASKOF,MASKOF,FUTURE,FUTUREKENDRICKLAMAR,FUTURE,FUTURE
1408,2495,140196,2017,2017,MASKOFF,MASKOFFMARSHMELLOREMIX,MASKOF,MASKOF,FUTURE,FUTUREMARSHMELLO,FUTURE,FUTURE
1409,2497,37843,2017,2017,LOYALTYFEATRIHANNA,LOYALTYFEATRIHANNA,LOYALT,LOYALT,KENDRICKLAMAR,KENDRICKLAMARRIHANNA,KENDRI,KENDRI
1410,2500,91761,2017,2017,DONTLEAVE,DONTLEAVE,DONTLE,DONTLE,SNAKEHIPSM,SNAKEHIPSM,SNAKEH,SNAKEH

In [24]:
# get the jjj unique index in the merged dataframe
index_jjj = index_df_good.drop_duplicates(subset=["index_x"], keep="first")
index_jjj


final_df = index_jjj[["index_x","index_y"]]
final_df.columns=["index_jjj", "index_spotify"]
final_df = final_df.merge(df_jjj, left_on="index_jjj", right_on="index", how="inner")
final_df = final_df.merge(df_spotify, left_on="index_spotify", right_on="index", how="inner")
#df.drop(df.columns[i], axis=1)
#final_df = final_df.drop(final_df.columns[0:2], axis=1)
final_df = final_df.drop(columns=["index_x", "index_y"])
final_df

,index_jjj,index_spotify,year_x,title,artist,duration,country,position of year,valence,year_y,...,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0,51827,1993,Asshole,Denis Leary,4:26,USA,1,0.649,1993,...,0.000000,2,0.154,-10.652,1,Asshole,49,1993-01-01,0.2490,172.866
1,1,14206,1993,Creep,Radiohead,3:56,England,2,0.104,1993,...,0.000141,7,0.129,-9.935,1,Creep,82,1993-02-22,0.0369,91.841
2,2,14213,1993,Linger,The Cranberries,4:35,Ireland,3,0.204,1993,...,0.000049,7,0.140,-14.918,1,Linger,76,1993-03-01,0.0265,94.845
3,3,14009,1993,No Rain,Blind Melon,3:37,USA,4,0.566,1992,...,0.000051,9,0.255,-9.342,1,No Rain,74,1992-01-01,0.0316,148.117
4,4,14248,1993,Cannonball,The Breeders,3:34,USA,5,0.729,1993,...,0.783000,3,0.284,-9.760,1,Cannonball,65,1993-08-30,0.0407,112.508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,2487,169869,2017,The Way You Used To Do,Queens Of The Stone Age,4:34,USA,87,0.433,2017,...,0.104000,0,0.362,-5.909,1,The Way You Used to Do,63,2017-08-25,0.2720,97.691
1097,2492,19024,2017,LOVE. (feat. Zacari),Kendrick Lamar,3:33,USA,92,0.779,2017,...,0.000000,10,0.153,-7.343,1,LOVE. FEAT. ZACARI.,79,2017-04-14,0.0924,126.058
1098,2495,19078,2017,Mask Off,Future,3:24,USA,95,0.281,2017,...,0.021900,2,0.165,-8.795,1,Mask Off,80,2017-06-30,0.4310,150.062
1099,2497,37843,2017,LOYALTY. (feat. Rihanna),Kendrick Lamar,3:47,USA,97,0.419,2017,...,0.000000,9,0.200,-8.983,0,LOYALTY. FEAT. RIHANNA.,71,2017-04-14,0.0573,110.684
1100,2500,91761,2017,Don't Leave,Snakehips & MØ,3:35,England,100,0.338,2017,...,0.000000,1,0.256,-3.402,1,Don't Leave,65,2017-01-06,0.0753,122.381

In [52]:
# songs missing
missing_df = df_jjj.loc[~df_jjj["index"].isin(final_df["index_jjj"])]
missing_dict = {}
for x in missing_df["year"].unique():
    missing_dict[str(x)] = missing_df.loc[missing_df["year"] == x][["position of year"]]
missing_dict["1996"]

     position of year
300                 1
305                 6
307                 8
309                10
314                15
315                16
317                18
319                20
320                21
321                22
322                23
327                28
329                30
330                31
331                32
332                33
334                35
339                40
341                42
347                48
348                49
354                55
356                57
357                58
358                59
359                60
360                61
363                64
365                66
366                67
367                68
368                69
369                70
371                72
372                73
374                75
378                79
379                80
380                81
382                83
383                84
384                85
387                88
388                89
389                90
390                91
391                92
392                93
393                94
394                95
395                96
397                98
399               100

# columns definition
Instrumentalness:
    This value represents the amount of vocals in the song. The closer it is to 1.0, the more instrumental the song is.
    
Acousticness:
    This value describes how acoustic a song is. A score of 1.0 means the song is most likely to be an acoustic one.
    
Liveness:
    This value describes the probability that the song was recorded with a live audience. According to the official documentation “a value above 0.8 provides strong likelihood that the track is live".

Speechiness:
    "Speechiness detects the presence of spoken words in a track". If the speechiness of a song is above 0.66, it is probably made of spoken words, a score between 0.33 and 0.66 is a song that may contain both music and words, and a score below 0.33 means the song does not have any speech.

Energy:
    "(energy) represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy".

Danceability:
    "Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable".

Valence: 
    "A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry)".

# Hypothesis 1
What makes a Triple J winner? Mashing data between Spotify and Triple J databases for 1993 to 2017. Get technical/numerical information for each song based on Spotify analytics. Compare some key elements in all triple j winners to determine commonalities – For example: Liveness, loudness, danceability.
Educated guess: Winners of top 100 will show low danceability, high liveness. 
Compare mean danceability (and other relevant variables (liveness, danceability etc.)) in Triple J winners to population mean for these variables using a single sample t-test to determine which, if any, variables are relevant in the creation of a Triple J winner.

In [29]:
hpt1_df = final_df.groupby("year_x").agg({
    "danceability" : "mean",
    "liveness" : "mean",
    "valence" : "mean",
    "loudness" : "mean",
    "popularity" : "mean",
    "speechiness" : "mean"
})
hpt1_df

        danceability  liveness   valence  loudness  popularity  speechiness
year_x
1993        0.544839  0.186055  0.529964 -8.653982   57.821429     0.072998
1994        0.497179  0.197691  0.562771 -8.072464   58.196429     0.058500
1995        0.497642  0.217211  0.494174 -7.214453   57.679245     0.073242
1996        0.500277  0.186579  0.491553 -6.899660   55.914894     0.063374
1997        0.551673  0.194236  0.575800 -7.261291   55.309091     0.075385
1998        0.559271  0.190635  0.524262 -6.783187   57.583333     0.074452
1999        0.578333  0.249019  0.557976 -6.555595   59.428571     0.058264
2000        0.492667  0.226090  0.523944 -5.886583   58.104167     0.068104
2001        0.542653  0.204151  0.532873 -6.267041   57.673469     0.078645
2002        0.517611  0.249200  0.455950 -5.298556   60.555556     0.079083
2003        0.549581  0.183700  0.488907 -6.070814   60.000000     0.076907
2004        0.498788  0.183818  0.516212 -5.085545   57.242424     0.093339
2005        0.516667  0.224736  0.554556 -6.168615   59.512821     0.085477
2006        0.583442  0.186812  0.545884 -4.988721   60.744186     0.069884
2007        0.501250  0.259902  0.522900 -5.318800   58.575000     0.088793
2008        0.601721  0.195400  0.597930 -5.644721   58.860465     0.071358
2009        0.559796  0.190604  0.491072 -5.927370   57.648148     0.066848
2010        0.578762  0.237469  0.516338 -5.548929   57.952381     0.085648
2011        0.573548  0.180376  0.477517 -6.385595   60.047619     0.064210
2012        0.581075  0.159640  0.439238 -6.409075   63.415094     0.077691
2013        0.579913  0.193646  0.468593 -6.710500   62.847826     0.080965
2014        0.572270  0.190668  0.491346 -6.529324   62.162162     0.071781
2015        0.576659  0.171350  0.379282 -5.953091   65.136364     0.081982
2016        0.625556  0.223400  0.476474 -6.704000   67.629630     0.119011
2017        0.699120  0.150816  0.463920 -6.840520   72.640000     0.118020

In [30]:
ttest_danc = []
ttest_live = []

# for each year as sample to the population of final data
danceability_mean = final_df["danceability"].mean()
liveness_mean = final_df["liveness"].mean()
for x in hpt1_df.index:
    ttest_danc.append(st.ttest_1samp(final_df.loc[final_df["year_x"] == x]["danceability"], danceability_mean))
    ttest_live.append(st.ttest_1samp(final_df.loc[final_df["year_x"] == x]["liveness"], liveness_mean))

# for the final data to the population of whole spotify data
overall_danc = st.ttest_1samp(final_df["danceability"], df_spotify["danceability"].mean())
overall_live = st.ttest_1samp(final_df["liveness"], df_spotify["liveness"].mean())

# Hypothesis 2
What is the perfect time to release a hit? Using the release date informed by Spotify, we can find what are the most common release dates for the winners? Hypothesis: perfect launch date is March to June, as it takes a few months for people to get to know a song and start liking it enough to vote for it. By grouping months into yearly quarters and using a chi squared test after establishing the frequency at which Triple J winners’ release date falls into each quarter the time of year where winners are more likely to arise might be ascertained if there is such a time. A comparison to the population song release distribution will also indicate that if there is a statistically significant result that it is not due to a simple increase in the volume of songs released at that time of year.

In [31]:
# Jan-Mar as Qtr 1 
hpt2_df = final_df.copy()
bins=[0,3,6,9,12]
labels = [1,2,3,4]
hpt2_df["quarter"] = pd.cut(pd.to_numeric(final_df["release_date"].str[5:7]),bins=bins,labels=labels)

In [13]:
hpt2_df

,index_x,index_y,index_x,year_x,title,artist,duration,country,position of year,index_y,...,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,quarter
0,0,51827,0,1993,Asshole,Denis Leary,4:26,USA,1,51827,...,2,0.154,-10.652,1,Asshole,49,1993-01-01,0.2490,172.866,1
1,1,14206,1,1993,Creep,Radiohead,3:56,England,2,14206,...,7,0.129,-9.935,1,Creep,82,1993-02-22,0.0369,91.841,1
2,2,14213,2,1993,Linger,The Cranberries,4:35,Ireland,3,14213,...,7,0.140,-14.918,1,Linger,76,1993-03-01,0.0265,94.845,1
3,3,14009,3,1993,No Rain,Blind Melon,3:37,USA,4,14009,...,9,0.255,-9.342,1,No Rain,74,1992-01-01,0.0316,148.117,1
4,4,14248,4,1993,Cannonball,The Breeders,3:34,USA,5,14248,...,3,0.284,-9.760,1,Cannonball,65,1993-08-30,0.0407,112.508,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,2487,169869,2487,2017,The Way You Used To Do,Queens Of The Stone Age,4:34,USA,87,169869,...,0,0.362,-5.909,1,The Way You Used to Do,63,2017-08-25,0.2720,97.691,3
1097,2492,19024,2492,2017,LOVE. (feat. Zacari),Kendrick Lamar,3:33,USA,92,19024,...,10,0.153,-7.343,1,LOVE. FEAT. ZACARI.,79,2017-04-14,0.0924,126.058,2
1098,2495,19078,2495,2017,Mask Off,Future,3:24,USA,95,19078,...,2,0.165,-8.795,1,Mask Off,80,2017-06-30,0.4310,150.062,2
1099,2497,37843,2497,2017,LOYALTY. (feat. Rihanna),Kendrick Lamar,3:47,USA,97,37843,...,9,0.200,-8.983,0,LOYALTY. FEAT. RIHANNA.,71,2017-04-14,0.0573,110.684,2
1100,2500,91761,2500,2017,Don't Leave,Snakehips & MØ,3:35,England,100,91761,...,1,0.256,-3.402,1,Don't Leave,65,2017-01-06,0.0753,122.381,1

In [32]:
hpt2_df_qtr = hpt2_df.groupby(["quarter"])[["title"]].count()
total_songs = hpt2_df["title"].count()
hpt2_df_qtr["expected"] = total_songs / 4
hpt2_df_qtr

         title  expected
quarter
1          334    275.25
2          255    275.25
3          233    275.25
4          159    275.25

In [33]:
chi_test = st.chisquare(hpt2_df_qtr["title"], hpt2_df_qtr["expected"])
chi_test

Power_divergenceResult(statistic=69.61217075386013, pvalue=5.167749071427152e-15)

# Hypothesis 3
What kind of Australian songs do people vote for in the Top 100? We will make a subset of Australian artists and measure their speechiness and Liveness and compare those aggregate values with the rest of the song universe in the historical top 100 list. Hypothesis: Top 100 voters will prefer Aussie songs with higher speechiness and liveness as they will choose songs they've enjoyed live and that showcase similar accents to theirs. The use of single sample t tests to compare the mean of speechiness and liveness to their respective population means will determine if Triple J voters are drawn to these characteristics in Australian songs.

In [34]:
hpt3_df = final_df.copy()
print(hpt3_df["country"].unique())
mean_speechiness = hpt3_df.loc[hpt3_df["country"] == "Australia"]["speechiness"].mean()
ttest_speechiness = st.ttest_1samp(hpt3_df["speechiness"], mean_speechiness)
ttest_speechiness

['USA' 'England' 'Ireland' 'Australia' 'Iceland' 'Sweden' 'Canada'
 'Jamaica' 'Germany' 'Scotland' 'New Zealand' 'France' 'Wales' 'Italy'
 'Denmark' 'Norway' 'Guernsey']

Ttest_1sampResult(statistic=5.060201308447039, pvalue=4.905358016053786e-07)